<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HELLO WORLD</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}" />
    <script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'react/react.js' %}"></script>
    <script type="text/javascript" src="{% static 'react/react-dom.js' %}"></script>
</head>
<body>
  {% include 'header.html' %}
  <div class="container-fluid">
    <h2 class="blue">What is this page?</h2>
    <div id="app">I do not know.</div>
  </div>
  <script type="text/javascript" src="{% static 'react-build/base.js' %}"></script>
</body>
</html>
